* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 6px;
  background-color: #84ffff;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #dadada;
}

.form-control {
  border: 1px solid transparent;
}

#ex1__result,
#ex3__result {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 0 10px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 4px;
}

.excersie {
  padding: 20px 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#ex2__result {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
  padding: 10px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 4px;
}

#ex2__result p {
  margin: 0;
}

#ex2__result p:nth-child(2) {
  margin-top: 10px;
}

.bsh--none {
  box-shadow: none;
}
